/* Огортаєш потрібний елемент у div з класом 'tooltip' і додаєш текст з класом 'tooltipText' для тексту підказки. */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltipText {
    user-select: none;
    visibility: hidden;
    width: max-content;
    max-width: 20vw;
    backdrop-filter: blur(10px);
    background: #aadde621;
    color: #AAD2E6;
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 0.5vh;
    font-size: 1.5vh;
    font-family: 'Poppins', sans-serif;

    position: absolute;
    z-index: 10000;
    bottom: 135%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 500ms;
    pointer-events: none;
}


.tooltip:hover .tooltipText {
    visibility: visible;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}